In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('../data/bus_time_20160101.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2064900 entries, 0 to 2064899
Data columns (total 12 columns):
timestamp           object
vehicle_id          int64
latitude            float64
longitude           float64
bearing             float64
progress            int64
service_date        int64
trip_id             object
block_assigned      int64
next_stop_id        object
dist_along_route    object
dist_from_stop      object
dtypes: float64(3), int64(4), object(5)
memory usage: 189.0+ MB

In [12]:
df.head(3)

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
0,2016-01-01T00:00:01Z,7478,40.765221,-73.887702,169.51,2,20151231,9943210-LGPD5-LG_D5-Weekday-10,1,550624,0.06,0.03
1,2016-01-01T00:00:02Z,4452,40.541569,-74.209659,183.92,0,20151231,CH_E5-Weekday-108000_S7484_718,1,203521,21081.06,56.67
2,2016-01-01T00:00:02Z,6495,40.685374,-73.972102,158.04,0,20151231,FP_W5-Weekday-108800_B26_38,1,302426,7672.84,72.25

In [5]:
df.tail(3)

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
2064897,2016-01-01T23:59:59Z,7720,40.838327,-73.924740,172.99,0,20160101,WF_Y6-Weekday-111000_BX11_31,1,100776,5424.75,50.59
2064898,2016-01-01T23:59:59Z,7786,40.837526,-73.899699,142.71,0,20160101,WF_Y6-Weekday-112500_BX35_234,1,100764,2890.93,183.35
2064899,2016-01-01T23:59:59Z,9554,40.703059,-73.742927,194.75,0,20160101,QV_Y6-Weekday-113600_MISC_144,1,503064,1200.19,22.4

In [13]:
testdf = df[df.vehicle_id == 7720]

In [21]:
df[df.dist_along_route < 10.0]

Empty DataFrame
Columns: [timestamp, vehicle_id, latitude, longitude, bearing, progress, service_date, trip_id, block_assigned, next_stop_id, dist_along_route, dist_from_stop]
Index: []