In [7]:
import numpy as np
import pandas as pd
from collections import defaultdict

In [2]:
df = pd.read_csv("stop_times.txt")

In [3]:
df.columns

Index([u'trip_id', u'arrival_time', u'departure_time', u'stop_id',
       u'stop_sequence', u'stop_headsign', u'pickup_type', u'drop_off_type',
       u'shape_dist_traveled', u'timepoint'],
      dtype='object')

In [4]:
df[:3]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
0,11688729,14:26:00,14:26:00,24948,1,NaN,NaN,NaN,NaN,NaN
1,11688729,14:27:00,14:27:00,22575,2,NaN,NaN,NaN,0.304735,NaN
2,11688729,14:28:00,14:28:00,21122,3,NaN,NaN,NaN,0.456629,NaN

In [5]:
trip_id_list = set(list(df['trip_id'].unique()))

In [12]:
data_dict = dict.fromkeys(trip_id_list, None)

In [15]:
for trip in data_dict.keys:
    # form a dataframe for each key
    # The column is the different stop id
    # The row is the time at different day

KeyError: 1