# Import modules

In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## gtfs reader

In [3]:
trips = pd.read_csv('../data/google_transit/trips.txt')

In [4]:
calendar = pd.read_csv('../data/google_transit/calendar.txt')

In [5]:
stop_times = pd.read_csv('../data/google_transit/stop_times.txt')

In [6]:
routes = pd.read_csv('../data/google_transit/routes.txt')

## check the calendar to select a specific time to analyze

In [7]:
calendar

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,BPPA7-BP_A7-Sunday-10,0,0,0,0,0,0,1,20170108,20170326
1,BPPA7-BP_A7-Weekday-10-SDon,1,1,1,1,1,0,0,20170109,20170331
2,BPPA7-BP_A7-Saturday-10,0,0,0,0,0,1,0,20170114,20170401
3,BPPA7-BP_H7-Weekday-20,1,1,1,1,1,0,0,20170116,20170116
4,CPPA7-CP_A7-Sunday-10,0,0,0,0,0,0,1,20170108,20170326
5,CPPA7-CP_A7-Weekday-10-SDon,1,1,1,1,1,0,0,20170109,20170331
6,CPPA7-CP_A7-Saturday-10,0,0,0,0,0,1,0,20170114,20170401
7,CPPA7-CP_H7-Weekday-20,1,1,1,1,1,0,0,20170116,20170116
8,CPPA7-CP_I7-Saturday-30,0,0,0,0,0,1,0,20170220,20170220
9,ECPA7-EC_A7-Sunday-10,0,0,0,0,0,0,1,20170108,20170326
10,ECPA7-EC_A7-Weekday-10-SDon,1,1,1,1,1,0,0,20170109,20170331
11,ECPA7-EC_A7-Saturday-10,0,0,0,0,0,1,0,20170114,20170401
12,ECPA7-EC_H7-Weekday-20,1,1,1,1,1,0,0,20170116,20170116
13,FRPA7-FR_A7-Sunday-10,0,0,0,0,0,0,1,20170108,20170326
14,FRPA7-FR_A7-Weekday-10-SDon,1,1,1,1,1,0,0,20170109,20170331
15,FRPA7-FR_A7-Saturday-10,0,0,0,0,0,1,0,20170114,20170401
16,FRPA7-FR_H7-Weekday-20,1,1,1,1,1,0,0,20170116,20170116
17,JKPA7-JK_A7-Sunday-10,0,0,0,0,0,0,1,20170108,20170326
18,JKPA7-JK_A7-Weekday-10-SDon,1,1,1,1,1,0,0,20170109,20170331
19,JKPA7-JK_A7-Saturday-10,0,0,0,0,0,1,0,20170114,20170401
20,JKPA7-JK_H7-Weekday-20,1,1,1,1,1,0,0,20170116,20170116
21,LGPA7-LG_A7-Sunday-10,0,0,0,0,0,0,1,20170108,20170326
22,LGPA7-LG_A7-Weekday-10-SDon,1,1,1,1,1,0,0,20170109,20170331
23,LGPA7-LG_A7-Saturday-10,0,0,0,0,0,1,0,20170114,20170401
24,LGPA7-LG_H7-Weekday-20,1,1,1,1,1,0,0,20170116,20170116
25,SCPA7-SC_A7-Sunday-10,0,0,0,0,0,0,1,20170108,20170326
26,SCPA7-SC_A7-Weekday-10-SDon,1,1,1,1,1,0,0,20170109,20170331
27,SCPA7-SC_A7-Saturday-10,0,0,0,0,0,1,0,20170114,20170401
28,SCPA7-SC_H7-Weekday-20,1,1,1,1,1,0,0,20170116,20170116
29,YOPA7-YO_A7-Sunday-10,0,0,0,0,0,0,1,20170108,20170326
30,YOPA7-YO_A7-Weekday-10,1,1,1,1,1,0,0,20170109,20170331
31,YOPA7-YO_A7-Saturday-10,0,0,0,0,0,1,0,20170114,20170401
32,YOPA7-YO_H7-Weekday-20,1,1,1,1,1,0,0,20170116,20170116

select the service id when the value of Monday is 1

In [30]:
calendar_list = list(calendar.service_id[calendar.monday == 1])
calendar_list

['BPPA7-BP_A7-Weekday-10-SDon',
 'BPPA7-BP_H7-Weekday-20',
 'CPPA7-CP_A7-Weekday-10-SDon',
 'CPPA7-CP_H7-Weekday-20',
 'ECPA7-EC_A7-Weekday-10-SDon',
 'ECPA7-EC_H7-Weekday-20',
 'FRPA7-FR_A7-Weekday-10-SDon',
 'FRPA7-FR_H7-Weekday-20',
 'JKPA7-JK_A7-Weekday-10-SDon',
 'JKPA7-JK_H7-Weekday-20',
 'LGPA7-LG_A7-Weekday-10-SDon',
 'LGPA7-LG_H7-Weekday-20',
 'SCPA7-SC_A7-Weekday-10-SDon',
 'SCPA7-SC_H7-Weekday-20',
 'YOPA7-YO_A7-Weekday-10',
 'YOPA7-YO_H7-Weekday-20']

In [72]:
stop_times[:10]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,14002045-BPPA7-BP_A7-Weekday-10,00:00:00,00:00:00,551840,1,0,0
1,14002045-BPPA7-BP_A7-Weekday-10,00:00:58,00:00:58,551841,2,0,0
2,14002045-BPPA7-BP_A7-Weekday-10,00:02:00,00:02:00,551843,3,0,0
3,14002045-BPPA7-BP_A7-Weekday-10,00:02:24,00:02:24,551844,4,0,0
4,14002045-BPPA7-BP_A7-Weekday-10,00:02:58,00:02:58,551834,5,0,0
5,14002045-BPPA7-BP_A7-Weekday-10,00:03:33,00:03:33,551831,6,0,0
6,14002045-BPPA7-BP_A7-Weekday-10,00:03:53,00:03:53,551829,7,0,0
7,14002045-BPPA7-BP_A7-Weekday-10,00:04:30,00:04:30,551827,8,0,0
8,14002045-BPPA7-BP_A7-Weekday-10,00:05:00,00:05:00,551825,9,0,0
9,14002045-BPPA7-BP_A7-Weekday-10,00:05:29,00:05:29,551823,10,0,0

## read the historical data
compare the historical data with the gtfs data

In [14]:
bus_time_09 = pd.read_csv('../data/historical_data/bus_time_20170109.csv')

In [15]:
bus_time_16 = pd.read_csv('../data/historical_data/bus_time_20170116.csv')

In [16]:
bus_time_23 = pd.read_csv('../data/historical_data/bus_time_20170123.csv')

In [17]:
bus_time_30 = pd.read_csv('../data/historical_data/bus_time_20170130.csv')

In [19]:
bus_time_09.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2819227 entries, 0 to 2819226
Data columns (total 12 columns):
timestamp           object
vehicle_id          int64
latitude            float64
longitude           float64
bearing             float64
progress            int64
service_date        int64
trip_id             object
block_assigned      int64
next_stop_id        object
dist_along_route    object
dist_from_stop      object
dtypes: float64(3), int64(4), object(5)
memory usage: 258.1+ MB

In [104]:
bus_time_16.head(5)

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
0,2017-01-16T00:00:01Z,8501,40.756460,-73.762129,191.52,0,20170115,QV_A7-Sunday-111200_MISC_170,1,804093,8072.92,45.98
1,2017-01-16T00:00:04Z,554,40.759376,-73.830754,19.04,0,20170115,13985514-CPPA7-CP_A7-Sunday-10,1,503845,0.01,0
2,2017-01-16T00:00:05Z,245,40.689270,-73.991089,341.80,0,20170115,JG_A7-Sunday-113400_B63_121,1,305407,1087.62,217
3,2017-01-16T00:00:06Z,3737,40.724675,-73.869589,298.18,0,20170115,13995523-LGPA7-LG_A7-Sunday-10,1,550473,4731.48,289.29
4,2017-01-16T00:00:06Z,5698,40.852472,-73.881920,253.87,0,20170115,KB_A7-Sunday-109500_BX9_47,1,100642,8433.66,179.07

In [86]:
data = []
bus_time = [bus_time_09, bus_time_16, bus_time_23, bus_time_30]
time_string = ['2017-01-09', '2017-01-16', '2017-01-23', '2017-01-30']
for i in xrange(4):
    cur_bus_time = bus_time[i]
    cur_data = cur_bus_time[cur_bus_time.timestamp > time_string[i] + 'T15:00:00Z']
    cur_data = cur_data[cur_data.timestamp < time_string[i] + 'T17:00:00Z']
    data.append(cur_data)

In [93]:
test = data[0]
test_new = test[test.trip_id.str.contains('JG_A7-Weekday-SDon-056700_B8_13')]

In [94]:
len(test_new)

81

In [95]:
test_new.head(10)

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
1466033,2017-01-09T15:00:01Z,335,40.638424,-73.953417,180.31,0,20170109,JG_A7-Weekday-SDon-056700_B8_13,1,300875,5719.62,7.31
1470236,2017-01-09T15:01:34Z,335,40.637897,-73.955129,205.74,0,20170109,JG_A7-Weekday-SDon-056700_B8_13,1,300877,6053.66,176.57
1474603,2017-01-09T15:03:11Z,335,40.636977,-73.957044,205.46,0,20170109,JG_A7-Weekday-SDon-056700_B8_13,1,300878,6239.63,171.29
1477377,2017-01-09T15:04:13Z,335,40.636649,-73.957731,205.75,0,20170109,JG_A7-Weekday-SDon-056700_B8_13,1,300878,6239.63,102.78
1481522,2017-01-09T15:05:49Z,335,40.636247,-73.958563,205.73,0,20170109,JG_A7-Weekday-SDon-056700_B8_13,1,300878,6239.63,19.58
1485682,2017-01-09T15:07:25Z,335,40.635231,-73.960677,205.81,0,20170109,JG_A7-Weekday-SDon-056700_B8_13,1,300879,6438.58,7.37
1488521,2017-01-09T15:08:29Z,335,40.634184,-73.962858,205.47,0,20170109,JG_A7-Weekday-SDon-056700_B8_13,1,300880,6658.6,9.67
1491123,2017-01-09T15:09:01Z,335,40.634161,-73.962906,205.47,0,20170109,JG_A7-Weekday-SDon-056700_B8_13,1,300880,6658.6,4.84
1493271,2017-01-09T15:10:04Z,335,40.633737,-73.963792,205.63,0,20170109,JG_A7-Weekday-SDon-056700_B8_13,1,300881,6791.33,49.16
1495759,2017-01-09T15:10:35Z,335,40.633547,-73.964186,205.75,0,20170109,JG_A7-Weekday-SDon-056700_B8_13,1,300881,6791.33,9.83

In [114]:
test_new2 = bus_time_16[bus_time_16.trip_id.str.contains('JG_A7-Sunday-113400_B63_121')]

In [109]:
len(test_new2)

87

In [115]:
test_new2[50:60]

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
85221,2017-01-16T00:45:48Z,245,40.643062,-74.012444,223.97,0,20170115,JG_A7-Sunday-113400_B63_121,1,305446,7929.88,218.71
87350,2017-01-16T00:46:52Z,245,40.642365,-74.013169,223.85,0,20170115,JG_A7-Sunday-113400_B63_121,1,305446,7929.88,120.02
89158,2017-01-16T00:47:56Z,245,40.641273,-74.014304,224.07,0,20170115,JG_A7-Sunday-113400_B63_121,1,305447,8060.25,95.78
89966,2017-01-16T00:48:28Z,245,40.641123,-74.014460,223.80,0,20170115,JG_A7-Sunday-113400_B63_121,1,305447,8060.25,74.5
91462,2017-01-16T00:48:59Z,245,40.640392,-74.015221,223.84,0,20170115,JG_A7-Sunday-113400_B63_121,1,308338,8253.38,164.03
91731,2017-01-16T00:49:31Z,245,40.639588,-74.016055,224.04,0,20170115,JG_A7-Sunday-113400_B63_121,1,308338,8253.38,50.27
93246,2017-01-16T00:50:03Z,245,40.639308,-74.016346,223.87,0,20170115,JG_A7-Sunday-113400_B63_121,1,308338,8253.38,10.58
93641,2017-01-16T00:50:35Z,245,40.637936,-74.017772,223.99,0,20170115,JG_A7-Sunday-113400_B63_121,1,308339,8492.97,55.91
95178,2017-01-16T00:51:07Z,245,40.636640,-74.019121,223.78,0,20170115,JG_A7-Sunday-113400_B63_121,1,305451,8737.86,117.12
95888,2017-01-16T00:51:39Z,245,40.634032,-74.020777,247.36,0,20170115,JG_A7-Sunday-113400_B63_121,1,305453,9048.27,100.41

In [111]:
test_new3 = bus_time_30[bus_time_30.trip_id.str.contains('JG_A7-Sunday-113400_B63_121')]

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
123735,2017-01-30T01:07:10Z,230,40.612266,-74.035783,317.02,2,20170129,JG_A7-Sunday-113400_B63_121,1,306619,0.31,132.9
125235,2017-01-30T01:07:43Z,230,40.612266,-74.035783,317.02,2,20170129,JG_A7-Sunday-113400_B63_121,1,306619,0.31,132.9
125892,2017-01-30T01:08:16Z,230,40.612266,-74.035783,317.02,2,20170129,JG_A7-Sunday-113400_B63_121,1,306619,0.31,132.9
127284,2017-01-30T01:08:47Z,230,40.612266,-74.035783,317.02,2,20170129,JG_A7-Sunday-113400_B63_121,1,306619,0.31,132.9
127886,2017-01-30T01:09:19Z,230,40.612266,-74.035783,317.02,2,20170129,JG_A7-Sunday-113400_B63_121,1,306619,0.31,132.9
129905,2017-01-30T01:10:23Z,230,40.612266,-74.035783,317.02,2,20170129,JG_A7-Sunday-113400_B63_121,1,306619,0.31,132.9
131972,2017-01-30T01:11:27Z,230,40.612266,-74.035783,317.02,2,20170129,JG_A7-Sunday-113400_B63_121,1,306619,0.31,132.9
133947,2017-01-30T01:12:30Z,230,40.612266,-74.035783,317.02,2,20170129,JG_A7-Sunday-113400_B63_121,1,306619,0.31,132.9
135918,2017-01-30T01:13:33Z,230,40.612266,-74.035783,317.02,2,20170129,JG_A7-Sunday-113400_B63_121,1,306619,0.31,132.9
136634,2017-01-30T01:14:06Z,230,40.612266,-74.035783,317.02,2,20170129,JG_A7-Sunday-113400_B63_121,1,306619,0.31,132.9

In [113]:
test_new3[50:60]

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
83382,2017-01-30T00:44:53Z,230,40.637804,-74.017909,223.99,0,20170129,JG_A7-Sunday-113400_B63_121,1,308339,8492.97,37.27
84839,2017-01-30T00:45:56Z,230,40.634714,-74.020505,245.98,0,20170129,JG_A7-Sunday-113400_B63_121,1,305452,8873.87,5.33
86303,2017-01-30T00:46:26Z,230,40.633851,-74.020853,247.36,0,20170129,JG_A7-Sunday-113400_B63_121,1,305453,9048.27,79.27
86975,2017-01-30T00:46:59Z,230,40.633579,-74.020966,247.36,0,20170129,JG_A7-Sunday-113400_B63_121,1,305453,9048.27,47.56
88527,2017-01-30T00:47:31Z,230,40.633193,-74.021124,247.83,0,20170129,JG_A7-Sunday-113400_B63_121,1,305453,9048.27,2.64
89843,2017-01-30T00:48:34Z,230,40.632005,-74.021607,248.02,0,20170129,JG_A7-Sunday-113400_B63_121,1,308340,9254.63,70.75
91714,2017-01-30T00:49:38Z,230,40.630465,-74.022238,247.58,0,20170129,JG_A7-Sunday-113400_B63_121,1,305455,9512.84,149.64
92337,2017-01-30T00:50:10Z,230,40.630062,-74.022404,247.77,0,20170129,JG_A7-Sunday-113400_B63_121,1,305455,9512.84,102.7
93821,2017-01-30T00:50:41Z,230,40.629659,-74.022568,247.77,0,20170129,JG_A7-Sunday-113400_B63_121,1,305455,9512.84,55.75
94582,2017-01-30T00:51:13Z,230,40.629281,-74.022723,247.78,0,20170129,JG_A7-Sunday-113400_B63_121,1,305455,9512.84,11.74