# Import module

In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
import csv
import os
import calendar as cal
import matplotlib.pyplot as plt
import urllib

# Data preprocess

**use the state island as the example**

1. select a single route and direction from a specific district from the GTFS
2. find the corresponding `trip_id` and `service_id`
3. find the corresponding dates of the `service_id`
4. Download the historical file and prepare the data analysis

## 1. select a single route and direction from a specific district from the GTFS

read the data into dataframe

In [3]:
routes = pd.read_csv('../data/GTFS/gtfs/routes.txt')
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 9 columns):
route_id            241 non-null object
agency_id           241 non-null object
route_short_name    241 non-null object
route_long_name     241 non-null object
route_desc          241 non-null object
route_type          241 non-null int64
route_url           239 non-null object
route_color         241 non-null object
route_text_color    241 non-null object
dtypes: int64(1), object(8)
memory usage: 17.0+ KB

In [4]:
trips = pd.read_csv('../data/GTFS/gtfs/trips.txt')
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15604 entries, 0 to 15603
Data columns (total 6 columns):
route_id         15604 non-null object
service_id       15604 non-null object
trip_id          15604 non-null object
trip_headsign    15604 non-null object
direction_id     15604 non-null int64
shape_id         15604 non-null object
dtypes: int64(1), object(5)
memory usage: 731.5+ KB

In [5]:
calendar_dates = pd.read_csv('../data/GTFS/gtfs/calendar_dates.txt')
calendar_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 3 columns):
service_id        60 non-null object
date              60 non-null int64
exception_type    60 non-null int64
dtypes: int64(2), object(1)
memory usage: 1.5+ KB

In [6]:
calendar = pd.read_csv('../data/GTFS/gtfs/calendar.txt')
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 10 columns):
service_id    16 non-null object
monday        16 non-null int64
tuesday       16 non-null int64
wednesday     16 non-null int64
thursday      16 non-null int64
friday        16 non-null int64
saturday      16 non-null int64
sunday        16 non-null int64
start_date    16 non-null int64
end_date      16 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.3+ KB

In [7]:
stop_times = pd.read_csv('../data/GTFS/gtfs/stop_times.txt')
stop_times.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823708 entries, 0 to 823707
Data columns (total 7 columns):
trip_id           823708 non-null object
arrival_time      823708 non-null object
departure_time    823708 non-null object
stop_id           823708 non-null int64
stop_sequence     823708 non-null int64
pickup_type       823708 non-null int64
drop_off_type     823708 non-null int64
dtypes: int64(4), object(3)
memory usage: 44.0+ MB

select a single route and a direction

In [8]:
route_id = trips.loc[0, 'route_id']
directon_id = trips.loc[0, 'direction_id']
print route_id
print directon_id

X14
0

## 2. find the corresponding trip_id and service_id

find the trip_id

In [9]:
select_trips = trips[(trips.route_id == route_id) & (trips.direction_id == directon_id)]
select_trips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 0 to 14124
Data columns (total 6 columns):
route_id         44 non-null object
service_id       44 non-null object
trip_id          44 non-null object
trip_headsign    44 non-null object
direction_id     44 non-null int64
shape_id         44 non-null object
dtypes: int64(1), object(5)
memory usage: 2.4+ KB

find the service_id

In [10]:
select_trips

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id
0,X14,CA_H6-Weekday,CA_H6-Weekday-031500_MISC_402,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
1,X14,CA_H6-Weekday,CA_H6-Weekday-037500_MISC_461,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
2,X14,CA_H6-Weekday,CA_H6-Weekday-041500_MISC_481,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3,X14,CA_H6-Weekday,CA_H6-Weekday-043500_MISC_491,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
7,X14,CA_H6-Weekday,CA_H6-Weekday-033500_MISC_442,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
9,X14,CA_H6-Weekday,CA_H6-Weekday-047500_MISC_500,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11,X14,CA_H6-Weekday,CA_H6-Weekday-035500_MISC_451,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
14,X14,CA_H6-Weekday,CA_H6-Weekday-050500_MISC_504,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
15,X14,CA_H6-Weekday,CA_H6-Weekday-039500_MISC_474,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
16,X14,CA_H6-Weekday,CA_H6-Weekday-045500_MISC_495,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3707,X14,CA_A6-Weekday,CA_A6-Weekday-031500_X14_301,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3708,X14,CA_A6-Weekday,CA_A6-Weekday-049000_MISC_479,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3709,X14,CA_A6-Weekday,CA_A6-Weekday-037800_X14_305,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3710,X14,CA_A6-Weekday,CA_A6-Weekday-039000_X14_306,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3711,X14,CA_A6-Weekday,CA_A6-Weekday-040000_X14_307,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3712,X14,CA_A6-Weekday,CA_A6-Weekday-042000_X14_309,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3713,X14,CA_A6-Weekday,CA_A6-Weekday-044000_X14_310,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3714,X14,CA_A6-Weekday,CA_A6-Weekday-046000_MISC_474,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3720,X14,CA_A6-Weekday,CA_A6-Weekday-033300_X14_302,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3723,X14,CA_A6-Weekday,CA_A6-Weekday-036300_X14_304,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3724,X14,CA_A6-Weekday,CA_A6-Weekday-048000_MISC_478,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3729,X14,CA_A6-Weekday,CA_A6-Weekday-050500_MISC_481,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3730,X14,CA_A6-Weekday,CA_A6-Weekday-041000_X14_308,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3731,X14,CA_A6-Weekday,CA_A6-Weekday-045000_X14_311,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
3732,X14,CA_A6-Weekday,CA_A6-Weekday-034800_X14_303,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
8317,X14,MA_A6-Weekday,MA_A6-Weekday-043000_MISC_651,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
8318,X14,MA_A6-Weekday,MA_A6-Weekday-047000_MISC_660,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11921,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-031500_X14_301,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11922,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-049000_MISC_479,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11923,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-037800_X14_305,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11924,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-039000_X14_306,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11925,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-040000_X14_307,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11926,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-042000_X14_309,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11927,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-044000_X14_310,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11928,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-046000_MISC_474,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11934,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-033300_X14_302,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11937,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-036300_X14_304,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11938,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-048000_MISC_478,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11943,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-050500_MISC_481,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11944,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-041000_X14_308,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11945,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-045000_X14_311,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
11946,X14,CA_A6-Weekday-SDon,CA_A6-Weekday-SDon-034800_X14_303,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
14123,X14,MA_A6-Weekday-SDon,MA_A6-Weekday-SDon-043000_MISC_651,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122
14124,X14,MA_A6-Weekday-SDon,MA_A6-Weekday-SDon-047000_MISC_660,W.MIDTOWN 57 ST via WATER ST via MADISON,0,X140122

In [11]:
select_service_id_set = set(list(select_trips.service_id))
print select_service_id_set

set(['MA_A6-Weekday', 'CA_H6-Weekday', 'MA_A6-Weekday-SDon', 'CA_A6-Weekday-SDon', 'CA_A6-Weekday'])

## 3. find the corresponding dates of the service_id

read the calendar dataframe to obtain the normal schedule of the trips

In [12]:
select_calendar = calendar[calendar.service_id.isin(select_service_id_set)]
select_calendar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 1 to 9
Data columns (total 10 columns):
service_id    3 non-null object
monday        3 non-null int64
tuesday       3 non-null int64
wednesday     3 non-null int64
thursday      3 non-null int64
friday        3 non-null int64
saturday      3 non-null int64
sunday        3 non-null int64
start_date    3 non-null int64
end_date      3 non-null int64
dtypes: int64(9), object(1)
memory usage: 264.0+ bytes

In [13]:
# the select service_id
select_calendar

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
1,CA_A6-Weekday-SDon,1,1,1,1,1,0,0,20160104,20160401
3,CA_H6-Weekday,1,1,1,1,1,0,0,20160118,20160118
9,MA_A6-Weekday-SDon,1,1,1,1,1,0,0,20160104,20160401

obtain normal dates for the service_id

In [14]:
dates = []
for i in range(1, 4):
    month = cal.monthcalendar(2016, i)
    for week in month:
        monday = week[cal.MONDAY]
        tuesday = week[cal.TUESDAY]
        wednesday = week[cal.WEDNESDAY]
        thursday = week[cal.THURSDAY]
        friday = week[cal.FRIDAY]
        if monday > 0:
            if monday < 10:
                cur_date = '20160' + str(i) + '0' + str(monday)
            else:
                cur_date = '20160' + str(i) + str(monday)
            if cur_date <= '20160401' and cur_date >= '20160104':
                
                dates.append(cur_date)
        if tuesday > 0:
            if tuesday < 10:
                cur_date = '20160' + str(i) + '0' + str(tuesday)
            else:
                cur_date = '20160' + str(i) + str(tuesday)
            if cur_date <= '20160401' and cur_date >= '20160104':
                dates.append(cur_date)
        if wednesday > 0:
            if wednesday < 10:
                cur_date = '20160' + str(i) + '0' + str(wednesday)
            else:
                cur_date = '20160' + str(i) + str(wednesday)
            if cur_date <= '20160401' and cur_date >= '20160104':
                dates.append(cur_date)
        if thursday > 0:
            if thursday < 10:
                cur_date = '20160' + str(i) + '0' + str(thursday)
            else:
                cur_date = '20160' + str(i) + str(thursday)
            if cur_date <= '20160401' and cur_date >= '20160104':
                dates.append(cur_date)
        if friday > 0:
            if friday < 10:
                cur_date = '20160' + str(i) + '0' + str(friday)
            else:
                cur_date = '20160' + str(i) + str(friday)
            if cur_date <= '20160401' and cur_date >= '20160104':
                dates.append(cur_date)
print dates

['20160104', '20160105', '20160106', '20160107', '20160108', '20160111', '20160112', '20160113', '20160114', '20160115', '20160118', '20160119', '20160120', '20160121', '20160122', '20160125', '20160126', '20160127', '20160128', '20160129', '20160201', '20160202', '20160203', '20160204', '20160205', '20160208', '20160209', '20160210', '20160211', '20160212', '20160215', '20160216', '20160217', '20160218', '20160219', '20160222', '20160223', '20160224', '20160225', '20160226', '20160229', '20160301', '20160302', '20160303', '20160304', '20160307', '20160308', '20160309', '20160310', '20160311', '20160314', '20160315', '20160316', '20160317', '20160318', '20160321', '20160322', '20160323', '20160324', '20160325', '20160328', '20160329', '20160330', '20160331']

check with the calendar_date file to add or delete some dates

In [15]:
select_calendar_date = calendar_dates[calendar_dates.service_id.isin(select_service_id_set)]
select_calendar_date.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 43
Data columns (total 3 columns):
service_id        28 non-null object
date              28 non-null int64
exception_type    28 non-null int64
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes

In [16]:
select_calendar_date[select_calendar_date.exception_type == 1]

       service_id      date  exception_type
8   CA_A6-Weekday  20160208               1
9   CA_A6-Weekday  20160216               1
10  CA_A6-Weekday  20160217               1
11  CA_A6-Weekday  20160218               1
12  CA_A6-Weekday  20160219               1
13  CA_A6-Weekday  20160325               1
38  MA_A6-Weekday  20160208               1
39  MA_A6-Weekday  20160216               1
40  MA_A6-Weekday  20160217               1
41  MA_A6-Weekday  20160218               1
42  MA_A6-Weekday  20160219               1
43  MA_A6-Weekday  20160325               1

In [17]:
date_set = set(dates)
for i in xrange(len(select_calendar_date)):
    exception_type = select_calendar_date.iloc[i].exception_type
    tmp_date = str(select_calendar_date.iloc[i].date)
    tmp_service_id = select_calendar_date.iloc[i].service_id
    if exception_type == 1 and tmp_date not in date_set:
        print "add"
        date_set.add(tmp_date)

In [18]:
date_set

{'20160104',
 '20160105',
 '20160106',
 '20160107',
 '20160108',
 '20160111',
 '20160112',
 '20160113',
 '20160114',
 '20160115',
 '20160118',
 '20160119',
 '20160120',
 '20160121',
 '20160122',
 '20160125',
 '20160126',
 '20160127',
 '20160128',
 '20160129',
 '20160201',
 '20160202',
 '20160203',
 '20160204',
 '20160205',
 '20160208',
 '20160209',
 '20160210',
 '20160211',
 '20160212',
 '20160215',
 '20160216',
 '20160217',
 '20160218',
 '20160219',
 '20160222',
 '20160223',
 '20160224',
 '20160225',
 '20160226',
 '20160229',
 '20160301',
 '20160302',
 '20160303',
 '20160304',
 '20160307',
 '20160308',
 '20160309',
 '20160310',
 '20160311',
 '20160314',
 '20160315',
 '20160316',
 '20160317',
 '20160318',
 '20160321',
 '20160322',
 '20160323',
 '20160324',
 '20160325',
 '20160328',
 '20160329',
 '20160330',
 '20160331'}

## 4. Download the historical files from website
url: http://data.mytransit.nyc/bus_time/2016/

prepare the dates list for downloading

In [19]:
sorted_dates = sorted(list(date_set))
basic_url = 'http://data.mytransit.nyc.s3.amazonaws.com/bus_time/2016/'
print sorted_dates
print basic_url

['20160104', '20160105', '20160106', '20160107', '20160108', '20160111', '20160112', '20160113', '20160114', '20160115', '20160118', '20160119', '20160120', '20160121', '20160122', '20160125', '20160126', '20160127', '20160128', '20160129', '20160201', '20160202', '20160203', '20160204', '20160205', '20160208', '20160209', '20160210', '20160211', '20160212', '20160215', '20160216', '20160217', '20160218', '20160219', '20160222', '20160223', '20160224', '20160225', '20160226', '20160229', '20160301', '20160302', '20160303', '20160304', '20160307', '20160308', '20160309', '20160310', '20160311', '20160314', '20160315', '20160316', '20160317', '20160318', '20160321', '20160322', '20160323', '20160324', '20160325', '20160328', '20160329', '20160330', '20160331']
http://data.mytransit.nyc.s3.amazonaws.com/bus_time/2016/

use the urllib package to start downloading
The link address for a specific file is: http://data.mytransit.nyc.s3.amazonaws.com/bus_time/2016/2016-01/bus_time_20160101.csv.xz

In [20]:
# download_file = urllib.URLopener()
# for i in xrange(len(sorted_dates)):
#     print i
#     cur_str = sorted_dates[i]
#     filename = 'bus_time_' + cur_str + '.csv.xz'
#     url = basic_url + cur_str[:-4] + '-' + cur_str[-4:-2] + '/' + filename
#     download_file.retrieve(url, filename)

since the unzipped historical file is very large, we will only select several days as the samples.

# baseline algorithm
calcualte the travel time within a segment of a specific route
Prepare four different types of the baseline algorithm:

- baseline algorithm without any features
- baseline algorithm with only weather
- baseline algorithm with only peak hour
- baseline algorithm with both of the weather and the peak hour

Step:
1. randomly select several days: 5 days
2. randomly select mutliple trips within the same route and direction
3. use these mutliple trips at different days to form a dataframe
4. calculate the arrival time for each trip at each sample day
5. obtain the simple baseline data for the first one.

## 1. randomly select several days: 5 days

prepare the directory

In [21]:
dir_name = '../code/history/'
file_list = os.listdir(dir_name)

select the five files by random from the file_list

In [22]:
files = []
for single_file in file_list:
    if not single_file.endswith('.csv'):
        continue
    files.append(single_file)
print files

['bus_time_20160104.csv', 'bus_time_20160105.csv', 'bus_time_20160106.csv', 'bus_time_20160107.csv', 'bus_time_20160108.csv', 'bus_time_20160111.csv', 'bus_time_20160112.csv', 'bus_time_20160113.csv', 'bus_time_20160114.csv', 'bus_time_20160115.csv', 'bus_time_20160118.csv', 'bus_time_20160119.csv', 'bus_time_20160120.csv', 'bus_time_20160121.csv', 'bus_time_20160122.csv', 'bus_time_20160125.csv', 'bus_time_20160126.csv', 'bus_time_20160127.csv', 'bus_time_20160128.csv', 'bus_time_20160129.csv', 'bus_time_20160201.csv', 'bus_time_20160202.csv', 'bus_time_20160203.csv', 'bus_time_20160204.csv', 'bus_time_20160205.csv', 'bus_time_20160208.csv', 'bus_time_20160209.csv', 'bus_time_20160210.csv', 'bus_time_20160211.csv', 'bus_time_20160212.csv', 'bus_time_20160215.csv', 'bus_time_20160216.csv', 'bus_time_20160217.csv', 'bus_time_20160218.csv', 'bus_time_20160219.csv', 'bus_time_20160222.csv', 'bus_time_20160223.csv', 'bus_time_20160224.csv', 'bus_time_20160225.csv', 'bus_time_20160226.csv', 'bus_time_20160229.csv']

for simplicity, we select the first 5 days as the result

In [23]:
sample_days = files[:5]
print sample_days

['bus_time_20160104.csv', 'bus_time_20160105.csv', 'bus_time_20160106.csv', 'bus_time_20160107.csv', 'bus_time_20160108.csv']

## 2. randomly select a trip within the specific route and direction

In [24]:
specific_trip = select_trips.iloc[10]
specific_trip

route_id                                              X14
service_id                                  CA_A6-Weekday
trip_id                      CA_A6-Weekday-031500_X14_301
trip_headsign    W.MIDTOWN 57 ST via WATER ST via MADISON
direction_id                                            0
shape_id                                          X140122
Name: 3707, dtype: object

## 3. use these mutliple trips at different days to form a dataframe

read the dataframe from these five days and find the corresponding trips. reselect the sample dates by filering the dates with the trip_id

In [25]:
historical_data = []
date_list = ['bus_time_20160208.csv',
 'bus_time_20160217.csv',
 'bus_time_20160218.csv',
 'bus_time_20160219.csv']
for file_name in date_list:
    print dir_name + file_name 
    cur_data = pd.read_csv(dir_name + file_name)
    tmp_data = cur_data[cur_data.trip_id == specific_trip.trip_id]
    if len(tmp_data) > 0:
        historical_data.append(tmp_data)

../code/history/bus_time_20160208.csv
../code/history/bus_time_20160217.csv
../code/history/bus_time_20160218.csv
../code/history/bus_time_20160219.csv

/Users/junwang/miniconda2/envs/py27/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
len(historical_data)

4

In [27]:
historical_data[0].head(5)

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
638258,2016-02-08T10:19:32Z,2588,40.633460,-74.136460,235.16,0,20160208,CA_A6-Weekday-031500_X14_301,1,203884,972.13,152.63
638906,2016-02-08T10:20:05Z,2588,40.632052,-74.137889,223.86,0,20160208,CA_A6-Weekday-031500_X14_301,1,200430,1102.31,84.9
639369,2016-02-08T10:20:37Z,2588,40.631852,-74.138096,223.86,0,20160208,CA_A6-Weekday-031500_X14_301,1,200430,1102.31,56.6
640724,2016-02-08T10:21:40Z,2588,40.629811,-74.140418,220.17,0,20160208,CA_A6-Weekday-031500_X14_301,1,203605,1363.17,17.39
641268,2016-02-08T10:22:14Z,2588,40.629579,-74.140700,217.98,0,20160208,CA_A6-Weekday-031500_X14_301,1,202647,1675.11,294.28

In [28]:
historical_data[0].tail(3)

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
766399,2016-02-08T11:38:07Z,2588,40.768904,-73.988057,157.12,0,20160208,CA_A6-Weekday-031500_X14_301,1,403986,38600.44,89.06
767524,2016-02-08T11:38:38Z,2588,40.769238,-73.988849,157.16,0,20160208,CA_A6-Weekday-031500_X14_301,1,403986,38600.44,12.72
769834,2016-02-08T11:39:42Z,2588,40.770097,-73.990889,157.16,0,20160208,CA_A6-Weekday-031500_X14_301,1,803102,38801.34,17.1

One specific trip will only be operated by one time every day.

In [29]:
sample_history = pd.concat(historical_data)
sample_history.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403 entries, 638258 to 894819
Data columns (total 12 columns):
timestamp           403 non-null object
vehicle_id          403 non-null int64
latitude            403 non-null float64
longitude           403 non-null float64
bearing             403 non-null float64
progress            403 non-null int64
service_date        403 non-null int64
trip_id             403 non-null object
block_assigned      403 non-null int64
next_stop_id        403 non-null object
dist_along_route    403 non-null object
dist_from_stop      403 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 40.9+ KB

## 4. calculate the arrival time for each trip at each sample day

In [36]:
tmp_trip = stop_times[stop_times.trip_id == specific_trip.trip_id]
tmp_trip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63 entries, 193504 to 193566
Data columns (total 7 columns):
trip_id           63 non-null object
arrival_time      63 non-null object
departure_time    63 non-null object
stop_id           63 non-null int64
stop_sequence     63 non-null int64
pickup_type       63 non-null int64
drop_off_type     63 non-null int64
dtypes: int64(4), object(3)
memory usage: 3.9+ KB

In [37]:
tmp_trip.head(5)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
193504,CA_A6-Weekday-031500_X14_301,05:15:00,05:15:00,905019,1,0,1
193505,CA_A6-Weekday-031500_X14_301,05:15:47,05:15:47,200316,2,0,1
193506,CA_A6-Weekday-031500_X14_301,05:16:55,05:16:55,200428,3,0,1
193507,CA_A6-Weekday-031500_X14_301,05:17:47,05:17:47,203884,4,0,1
193508,CA_A6-Weekday-031500_X14_301,05:18:10,05:18:10,200430,5,0,1

In [40]:
station_list = list(tmp_trip.stop_id)
print station_list

[905019, 200316, 200428, 203884, 200430, 203605, 202647, 203809, 201492, 201495, 201497, 201498, 201499, 201730, 203616, 203617, 203810, 203456, 200646, 200715, 202603, 202941, 203052, 200652, 203723, 203724, 203343, 203798, 905020, 805033, 805035, 901114, 805034, 805037, 805039, 805038, 901171, 903205, 405043, 803033, 401666, 903101, 404850, 803074, 803071, 901111, 402143, 402144, 402145, 905030, 400186, 400354, 450040, 404299, 404300, 402227, 402228, 402229, 400744, 404326, 402233, 403986, 803102]

In [44]:
idx = 0
arrival_station_list = []
arrival_time_list = []
for item in date_list:
    date = item[9:17]
    print date
    operation_hour = sample_history[sample_history.service_date == int(date)]
    for i in xrange(1, len(station_list)):
        station = station_list[i - 1]
        next_station = station_list[i]
        while operation_hour.iloc[idx].next_stop_id != station or operation_hour.iloc[idx + 1].next_stop_id != next_station:
            idx += 1
        distance_location = float(operation_hour.iloc[idx + 1].dist_along_route) - float(operation_hour.iloc[idx].dist_along_route)
        distance_station = float(operation_hour.iloc[idx].dist_from_stop)
        ratio = distance_station / distance_location
        if ratio < 0:
            print station, next_station
        time1 = operation_hour.iloc[idx].timestamp
        time2 = operation_hour.iloc[idx + 1].timestamp
        time_span = calculateTimeSpan(time1, time2)
        if ratio > 0:
            travel_time = time_span * ratio
            print station, next_station, travel_time, time1
            arrival_station_list.append(station)

20160208
20160217
20160218
20160219