# Import modules

In [31]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

# helper function
## calcualte time span between two time point

In [33]:
def extractTime(time):
    """
    example of time(str): '2017-01-16T15:09:28Z'
    """
    result = datetime.strptime(time[11: 19], '%H:%M:%S')
    return result


def calculateTimeSpan(time1, time2):
    timespan = extractTime(time2) - extractTime(time1)
    return timespan.total_seconds()

# select the specific line
read the data from the historical database

In [2]:
bus_time = pd.read_csv('../data/historical_data/bus_time_20170116.csv')
bus_time.head(5)

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
0,2017-01-16T00:00:01Z,8501,40.756460,-73.762129,191.52,0,20170115,QV_A7-Sunday-111200_MISC_170,1,804093,8072.92,45.98
1,2017-01-16T00:00:04Z,554,40.759376,-73.830754,19.04,0,20170115,13985514-CPPA7-CP_A7-Sunday-10,1,503845,0.01,0
2,2017-01-16T00:00:05Z,245,40.689270,-73.991089,341.80,0,20170115,JG_A7-Sunday-113400_B63_121,1,305407,1087.62,217
3,2017-01-16T00:00:06Z,3737,40.724675,-73.869589,298.18,0,20170115,13995523-LGPA7-LG_A7-Sunday-10,1,550473,4731.48,289.29
4,2017-01-16T00:00:06Z,5698,40.852472,-73.881920,253.87,0,20170115,KB_A7-Sunday-109500_BX9_47,1,100642,8433.66,179.07

select the time from 3pm to 5pm

In [3]:
cur_data = bus_time[bus_time.timestamp >= '2017-01-16T15:00:00Z']
cur_data = cur_data[cur_data.timestamp <= '2017-01-16T17:00:00Z']
cur_data.head(5)

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
1191636,2017-01-16T15:00:00Z,218,40.706699,-73.854958,17.69,2,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,688.14
1191637,2017-01-16T15:00:00Z,354,40.634348,-73.949706,31.70,0,20170116,JG_H7-Weekday-054500_B11_10,1,300540,8686.09,12.18
1191638,2017-01-16T15:00:00Z,381,40.650681,-73.952182,182.57,0,20170116,JG_H7-Weekday-057100_B35_5,1,307795,4034.8,58.02
1191639,2017-01-16T15:00:00Z,441,40.600780,-73.961376,94.72,0,20170116,JG_H7-Weekday-057500_B68_119,1,305703,5160.54,12.55
1191640,2017-01-16T15:00:00Z,470,40.625212,-74.017346,33.95,0,20170116,JG_H7-Weekday-058000_B16_5,1,301621,3983.54,118.06

select a trip by random: `14015924-CPPA7-CP_H7-Weekday-20`

In [4]:
single_trip = bus_time[bus_time.trip_id == '14015924-CPPA7-CP_H7-Weekday-20']
single_trip.head(5)

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
1177255,2017-01-16T14:53:05Z,218,40.706719,-73.854893,17.69,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,682.21
1178724,2017-01-16T14:54:11Z,218,40.706699,-73.854958,17.69,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,688.14
1182038,2017-01-16T14:55:48Z,218,40.706699,-73.854958,17.69,2,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,688.14
1185173,2017-01-16T14:57:23Z,218,40.706699,-73.854958,17.69,2,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,688.14
1187629,2017-01-16T14:58:26Z,218,40.706699,-73.854958,17.69,2,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,688.14

# generate the station list for this trip

generate the operation hour based on the value of the `progress`

In [5]:
parking_time = single_trip[single_trip.progress == 2]

In [6]:
parking_time.head(5)

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
1182038,2017-01-16T14:55:48Z,218,40.706699,-73.854958,17.69,2,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,688.14
1185173,2017-01-16T14:57:23Z,218,40.706699,-73.854958,17.69,2,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,688.14
1187629,2017-01-16T14:58:26Z,218,40.706699,-73.854958,17.69,2,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,688.14
1191636,2017-01-16T15:00:00Z,218,40.706699,-73.854958,17.69,2,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,688.14

The table above indicates the time point when the bus is parking at the inital stop, which should be `2017-01-16T15:00:00Z`

In [7]:
operation_hour = single_trip[single_trip.timestamp >= '2017-01-16T15:00:00Z']
operation_hour.head(5)

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
1191636,2017-01-16T15:00:00Z,218,40.706699,-73.854958,17.69,2,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,688.14
1192937,2017-01-16T15:01:02Z,218,40.707082,-73.853957,17.89,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,587.29
1195127,2017-01-16T15:01:34Z,218,40.708765,-73.851405,77.80,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,237.29
1196415,2017-01-16T15:02:40Z,218,40.710280,-73.850988,73.51,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,65.25
1199599,2017-01-16T15:04:15Z,218,40.711380,-73.850353,57.15,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550881,879.07,98.53

In [8]:
operation_hour[0:10]

,timestamp,vehicle_id,latitude,longitude,bearing,progress,service_date,trip_id,block_assigned,next_stop_id,dist_along_route,dist_from_stop
1191636,2017-01-16T15:00:00Z,218,40.706699,-73.854958,17.69,2,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,688.14
1192937,2017-01-16T15:01:02Z,218,40.707082,-73.853957,17.89,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,587.29
1195127,2017-01-16T15:01:34Z,218,40.708765,-73.851405,77.80,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,237.29
1196415,2017-01-16T15:02:40Z,218,40.710280,-73.850988,73.51,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550880,711.87,65.25
1199599,2017-01-16T15:04:15Z,218,40.711380,-73.850353,57.15,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550881,879.07,98.53
1202561,2017-01-16T15:05:48Z,218,40.714661,-73.852764,159.97,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,553046,1517.16,154.96
1204777,2017-01-16T15:06:50Z,218,40.715744,-73.852913,58.26,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550887,1759.03,229.92
1207050,2017-01-16T15:07:54Z,218,40.717636,-73.851727,58.39,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550889,1993.68,231.68
1209215,2017-01-16T15:08:26Z,218,40.717612,-73.851742,58.32,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550887,1759.03,0
1211371,2017-01-16T15:09:28Z,218,40.720692,-73.850118,59.52,0,20170116,14015924-CPPA7-CP_H7-Weekday-20,1,550891,2336.65,205.78

In [38]:
a = operation_hour.iloc[0].dist_along_route
type(float(a))
print a

711.87

generate the station list for this trip

In [9]:
station_list = [operation_hour.iloc[0].next_stop_id]
for i in xrange(1, len(operation_hour)):
    station = operation_hour.iloc[i].next_stop_id
    if station == station_list[-1]:
        continue
    else:
        station_list.append(station)
len(station_list)

38

# calculation

calculate the average runtime during the segments between the neighboring stations

data we need:
- operation_hour
- station_list

Method:
1. find the last row of the target station in the operation_hour table
2. calculate the distance between two neighboring time spot by `dist_along_route`
3. calculate the distance between the current location and the next station by `dist_from_stop`
4. calculate the ratio of ditance
5. calculate the ratio of time to make it equal to the ratio of the distance

In [40]:
idx = 0
for i in xrange(1, len(station_list)):
    station = station_list[i - 1]
    next_station = station_list[i]
    while operation_hour.iloc[idx].next_stop_id != station or operation_hour.iloc[idx + 1].next_stop_id != next_station:
        idx += 1
    distance_location = float(operation_hour.iloc[idx + 1].dist_along_route) - float(operation_hour.iloc[idx].dist_along_route)
    distance_station = float(operation_hour.iloc[idx].dist_from_stop)
    ratio = distance_station / distance_location
    time1 = operation_hour.iloc[idx].timestamp
    time2 = operation_hour.iloc[idx + 1].timestamp
    time_span = calculateTimeSpan(time1, time2)
    if ratio

550880 550881 0.390251196172 95.0
550881 553046 0.154413954144 93.0
553046 550887 0.64067474263 62.0
550887 550889 0.979842318346 64.0
550889 550887 -0.987342851055 32.0
550887 550891 0.0 62.0
550891 550892 0.246306322841 66.0
550892 550895 0.0349880205136 97.0
550895 553168 0.22853379785 32.0
553168 550898 0.270009177414 70.0
550898 550901 0.0578053245127 95.0
550901 550902 0.565246623067 33.0
550902 550903 0.20059842387 32.0
550903 550905 0.142179496884 95.0
550905 550906 0.841681014243 63.0
550906 550908 0.0 94.0
550908 550909 0.0110725621909 63.0
550909 503862 0.241985008579 62.0
503862 503491 0.375936990766 63.0
503491 503864 0.672446541266 32.0
503864 503865 0.026330224904 64.0
503865 550917 0.0199397171342 65.0
550917 550918 0.2104507761 63.0
550918 550921 0.0949913644214 95.0
550921 550922 0.266609357731 65.0
550922 553222 0.151834999254 95.0
553222 550927 0.0744247477801 63.0
550927 550928 0.0245355119252 64.0
550928 550929 0.655516667623 98.0
550929 550930 0.558511923249 64.0
550930 550931 0.116697982191 32.0
550931 550932 1.84116680362 65.0
550932 550933 0.307494062358 65.0
550933 550934 0.0 32.0
550934 502580 0.177141731296 64.0
502580 504485 0.522484110697 96.0
504485 502547 0.160707641308 64.0