In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Test
test

In [1]:
df = pd.read_csv('../data/google_transit/stop_times.txt')

NameError: name 'pd' is not defined

In [3]:
df[:5]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
0,11688729,14:26:00,14:26:00,24948,1,NaN,NaN,NaN,NaN,NaN
1,11688729,14:27:00,14:27:00,22575,2,NaN,NaN,NaN,0.304735,NaN
2,11688729,14:28:00,14:28:00,21122,3,NaN,NaN,NaN,0.456629,NaN
3,11688729,14:29:00,14:29:00,21123,4,NaN,NaN,NaN,0.595833,NaN
4,11688729,14:30:00,14:30:00,20066,5,NaN,NaN,NaN,0.923485,NaN

In [4]:
df.describe()

,trip_id,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled,timepoint
count,2.243600e+05,224360.000000,224360.000000,104.0,104.0,217968.000000,0.0
mean,1.159888e+07,25359.341068,22.865992,1.0,1.0,8.417706,NaN
std,9.003547e+04,15902.712151,17.083086,0.0,0.0,6.904260,NaN
min,1.150659e+07,10030.000000,1.000000,1.0,1.0,0.079546,NaN
25%,1.150886e+07,20736.000000,9.000000,1.0,1.0,3.075947,NaN
50%,1.151138e+07,21568.000000,19.000000,1.0,1.0,6.367614,NaN
75%,1.168891e+07,22565.000000,33.000000,1.0,1.0,11.795076,NaN
max,1.169720e+07,99931.000000,87.000000,1.0,1.0,40.900568,NaN

In [10]:
df.trip_id.map?